*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

/* layout principal*/
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fbf3f2;
    color: #e68a7b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Menu */
header {
    background-color: #e68a7b;
    padding: 1.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}

nav{
    background-color:#e68a7b;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fbf3f2;
    font-size: 22px;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin-top: 200px;
    gap: 40px;
    padding: 30px;
}

/*Botôes*/
a{
    font-size: 30px;
    text-decoration: none;
    color: #fbf3f2;
    cursor: pointer;
    transition: .2s;
}

/*Transição dos botões*/
a:hover{
    text-decoration: none;
    color: #fbf3f2;
    transform: scale(1.5);
    text-shadow: 0px 0px 8px #fbf3f2;
    
}

.Sobre ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.Sobre li{
    list-style: none;
}

/* Imagem */
.imagem-lateral {
    width: 100%;
    max-width: 300px;
}

.imagem-lateral img {
    width: 100%;
    border-radius: 10px;
}

/* Conteúdo */
.conteudo {
    width: 70%;
    text-align: left;
}

h1 {
    font-size: 60px;
    color: #e68a7b;
}

p {
    font-size: 30px;
    line-height: 1.5;
    margin-top: 10px;
}
